{% extends "layout.html" %}

{% block head %}
<title>Set New Password</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/>
<script>
    function validatePassword() {
        var password = document.getElementById("new_password").value;
        var lengthCheck = password.length >= 8;
        var uppercaseCheck = /[A-Z]/.test(password);
        var numberCheck = /[0-9]/.test(password);
        var specialCheck = /[!@#\$%\^&\*]/.test(password);

        updateCriteria("length", lengthCheck);
        updateCriteria("uppercase", uppercaseCheck);
        updateCriteria("number", numberCheck);
        updateCriteria("special", specialCheck);
    }

    function updateCriteria(criteriaId, isValid) {
        var criteria = document.getElementById(criteriaId);
        criteria.innerHTML = isValid ? '<i class="fas fa-check"></i> ' + criteria.getAttribute('data-text') : '<i class="fas fa-times"></i> ' + criteria.getAttribute('data-text');
        criteria.className = isValid ? "text-success" : "text-danger";
    }
</script>
{% endblock %}

{% block content %}
<body>
    <div class="container-fluid h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-md-6 col-xl-4 chat">
                <div class="card">
                    <div class="card-header msg_head">
                        <div class="d-flex bd-highlight">
                            <div class="user_info">
                                <span>Set New Password</span>
                            </div>                            
                        </div>                        
                    </div>
                    
                    <div class="card-body msg_card_body text-center">
                        <p>For security reasons, please set a new password. This is only necessary for your first log-in attempt.</p>
                        <form method="POST" oninput="validatePassword()">
                            <div class="form-group">
                                <label for="username">Username:</label>
                                <input type="text" id="username" name="username" class="form-control" required><br>
                            </div>
                            <div class="form-group">
                                <label for="new_password">New Password:</label>
                                <input type="password" id="new_password" name="new_password" class="form-control" required><br>
                                <ul class="list-unstyled">
                                    <li id="length" class="text-danger" data-text="Minimum 8 characters"><i class="fas fa-times"></i> Minimum 8 characters</li>
                                    <li id="uppercase" class="text-danger" data-text="At least one uppercase letter"><i class="fas fa-times"></i> At least one uppercase letter</li>
                                    <li id="number" class="text-danger" data-text="At least one number"><i class="fas fa-times"></i> At least one number</li>
                                    <li id="special" class="text-danger" data-text="At least one special character"><i class="fas fa-times"></i> At least one special character</li>
                                </ul>
                            </div>
                            <input type="submit" value="Submit" class="btn btn-primary">
                        </form>
                        <p></p>
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                                    <strong class="font-bold">Error! </strong>
                                    <span class="block sm:inline">{{ messages[0] }}</span>
                                </div>
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
